{% import "macros/qotd/message.html.twig" as qotd_macro %}
<turbo-frame
    id="qotd-{{ section ?? 'default' }}-{{ qotd.id }}"
    class="ts-qotd-{{ qotd.id }}"
    data-delete-if-missing="true"
    {{ tt('quote') }}
>
    <div class="card mb-2">
        <div class="card-body">
            {{ qotd_macro.message(qotd) }}
            {% for imageUrl in qotd.imageUrls %}
                <img src="{{ asset(imageUrl) }}" alt="" />
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            <div class="d-flex justify-content-between">
                <div class="me-auto">
                    <a href="{{ url('qotd_show', { id: qotd.id }) }}" target="_top" class="text-reset">
                        {{ qotd.date|date('Y-m-d') }} by {{ qotd.username }}
                    </a>
                </div>
                <div class="mx-1">
                    <a href="{{ url('qotd_show_details', { id: qotd.id }) }}" class="text-reset" data-turbo-frame="modal"><i class="bi bi-info-circle"></i></a>
                </div>
                <div class="mx-1">
                    <a href="{{ qotd.permalink }}" class="btn btn-sm btn-outline-secondary">🔗 view in Slack</a>
                </div>
                <form action="{{ url(qotd.hasVotedDown(app.user) ? 'qotd_vote_null' : 'qotd_vote_down', { id: qotd.id }) }}" method="POST" class="mx-1" {{ tt('vote-down') }}>
                    <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
                    <button type="submit" class="{{ html_classes('btn', 'btn-sm', { 'btn-outline-primary': qotd.hasVotedDown(app.user) }) }}">👎</button>
                </form>
                <div class="mx-1">
                    <span class="badge bg-primary" {{ tt('quote-vote') }}>
                        {{ qotd.vote }}
                    </span>
                </div>
                <form action="{{ url(qotd.hasVotedUp(app.user) ? 'qotd_vote_null' : 'qotd_vote_up', { id: qotd.id }) }}" method="POST" {{ tt('vote-up') }}>
                    <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
                    <button type="submit" class="{{ html_classes('btn', 'btn-sm', { 'btn-outline-primary': qotd.hasVotedUp(app.user) }) }}">👍</button>
                </form>
            </div>
        </div>
    </div>
</turbo-frame>
