{% extends 'base_with_frame.html.twig' %}

{% import "macros/qotd/message.html.twig" as qotd_macro %}

{% block title %}QOTD #{{ qotd.id }}{% endblock %}

{% block body %}
    <table class="table table-striped table-sm">
        <tr>
            <th>ID</th>
            <td>
                {{ qotd.id }}
                <a href="{{ url('qotd_show_details', { id: qotd.id }) }}" class="text-reset" data-turbo-frame="modal"><i class="bi bi-info-circle"></i></a>
            </td>
        </tr>
        <tr>
            <th>Raw Message</th>
            <td>
                <div class="overflow-x-scroll" style="max-width:calc(var(--bs-modal-width) - 10em)">
                    <pre><code>{{ qotd.message|nl2br }}</code></pre>
                </div>
            </td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ qotd_macro.message(qotd) }}</td>
        </tr>
        <tr>
            <th>Images</th>
            <th>
                {% for image in qotd.images %}
                    {% set url = asset("uploads/#{qotd.id}---#{image}") %}
                    <a href="{{ url }}" target="_blank">
                        <img src="{{ url }}" alt="" style="max-width: 100px; max-height: 100px;">
                    </a>
                {% else %}
                    None
                {% endfor %}
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ qotd.date|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ qotd.username }}</td>
        </tr>
        <tr>
            <th>Permalink (on this app)</th>
            <td><a href="{{ url('qotd_show', {id: qotd.id}) }}">{{ url('qotd_show', {id: qotd.id}) }}</a></td>
        </tr>
        <tr>
            <th>Permalink (on slack)</th>
            <td><a href="{{ qotd.permalink }}">{{ qotd.permalink }}</a></td>
        </tr>
        <tr>
            <th>Vote</th>
            <td>{{ qotd.vote }}</td>
        </tr>
        <tr>
            <th>Voters</th>
            <td>{{ qotd.voterIds|keys|join(', ') }}</td>
        </tr>
    </table>
{% endblock %}
