<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}QOTD{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container">
                {% block menu %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{{ url('qotd_index') }}">QOTD</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            {% set active = active ?? null %}
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item ">
                                        <a class="nav-link {{ 'qotd_top' == active ? 'active' }}" href="{{ url('qotd_index_top') }}">👍 Top</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link {{ 'qotd_flop' == active ? 'active' }}" href="{{ url('qotd_index_flop') }}">👎 Flop</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link {{ 'qotd_not_voted' == active ? 'active' }}" href="{{ url('qotd_index_not_voted') }}">🗳 Not voted yet</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link {{ 'qotd_search' == active ? 'active' }}" href="{{ url('qotd_search') }}">🔍 Search</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link {{ 'hall_of_fame' == active ? 'active' }}" href="{{ url('hall_of_fame') }}">📆 Hall Of Fame</a>
                                    </li>
                                </ul>
                                {# <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                                    <li class="nav-item ">
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a class="nav-link" href="{{ url('logout') }}">Logout</a>
                                        {% else %}
                                            <a class="nav-link" href="{{ url('login') }}">Login</a>
                                        {% endif %}
                                    </li>
                                </ul> #}
                            </div>
                        </div>
                    </nav>
                {% endblock %}


                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
